﻿<div class="jumbotron">
    <h1>Discount Explorer</h1>
    <p class="lead">The Circa You, LLC Discount Explorer helps you identify DVC and AP benefits you can use on your Walt Disney World Resort vacations</p>
</div>
<div class="row">
    <div class="col-md-5">
        <h2>Getting started</h2>
        <p>Select View All or a specific category from the menu</p>
    </div>
    <div class="col-md-5">
        <h2>Drill down</h2>
        <p>Use the search box to narrow down you selection by offer or location</p>
    </div>
    <div class="col-md-5">
        <h2>Get the details</h2>
        <p>Click on an item for more information</p>
    </div>
    <div class="col-md-5">
        <h2>API</h2>
        <p>API coming soon!</p>
    </div>
</div>
