﻿@model DiscountExplorer.Models.Benefit

@{
    ViewBag.Title = "Details";
    DisplayModeProvider.Instance.RequireConsistentDisplayMode = false;
}

<br />

<div class="container">
    <div class="row">
        <!--<div class="col-md-6">-->
            <div class="list-group">
                <div class="list-group-item active">
                    @Html.DisplayFor(model => model.Offer)
                </div>
                <div class="list-group-item-heading">
                    @Html.Raw(Model.Text)
                </div>
                <div class="list-group-item-text">
                    <strong>@Html.DisplayNameFor(model => model.Limitations):</strong> @Html.DisplayFor(model => model.Limitations)<br />
                    <strong>@Html.DisplayNameFor(model => model.Location):</strong> @Html.DisplayFor(model => model.Location)<br />
                    <strong>@Html.DisplayNameFor(model => model.Provider):</strong> @Html.DisplayFor(model => model.Provider)<br />
                
                </div>
            </div>
        <!--</div>-->
    </div>
</div>




<!--
                    <h2>Details</h2>

                    <div>
                        <h4>Benefit</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Provider)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Provider)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Vendor)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Vendor)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Location)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Location)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Offer)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Offer)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Value)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Value)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Text)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Text)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Limitations)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Limitations)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Active)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Active)
                            </dd>

                        </dl>
                    </div>
    -->

                    <p>
                        <!--  @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | -->
                        @Html.ActionLink("Back to List", "Index")
                    </p>
