﻿@model IEnumerable<DiscountExplorer.Models.Benefit>

@{
    ViewBag.Title = "Benefit List";
    DisplayModeProvider.Instance.RequireConsistentDisplayMode = false;
}

<h2>Benefit List</h2>

<form class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text" class="form-control" placeholder="Search">
</form>

<br />

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <!-- <div class="col-md-4"> -->
                <div class="list-group">
                    @Html.ActionLink(item.Offer,
                      "Details",
                      new { item.Id },
                      new { @class = "list-group-item active"})
                       
                    <div class="list-group-item-text">
                        <p>@item.Location
                        <p>@item.Provider
                    </div>
                </div>
          <!--  </div>-->
        }
         </div> 
    </div>


 
